.nav-item {
  text-decoration: none;
  color: black;
  margin: 10px;
  transition: all 0.3s;
}
.nav-item:hover {
  color: #ff697c;
}
.header img {
  width: 170px;
  height: 40px;
  object-fit: cover;
}
.header .profile {
  display: inline-block;
}
.header .profile span {
  margin: 10px;
}
.header .profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.navbar-dark .navbar-toggler {
  background-color: black;
}
@media (max-width: 767px) {
  .header {
    margin: 0;
    padding: 0;
  }
  .nav-item {
    margin: 8px;
  }
}
